<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <meta name="google-signin-client_id"
        content="807588094774-v7tcl63kqsj96r64gaqhtu8gsn81ffnt.apps.googleusercontent.com">
    <link rel="stylesheet" href="{{url_for('static',filename='css/base.css')}}">

    <title>Accounts</title>
</head>

<body>
    <style>
        body {
            background-color: #fffaf4;
        }

        .Header {
            margin-left: 0px;
            height: 100px;
        }

        .Header a{
            font-size: 80px;
        }

        .memberBox {
            position: absolute;
            width: 500px;
            height: 550px;
            margin: auto;
            border-radius: 24px;
            border: 1px solid #dfe1e5;
            margin-top: 100px;
            left: 50%;
            transform: translateX(-50%);
            background-color: #c5b8a5;
        }

        .memberLittleBox {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 50px;
        }

        .memberProcess {
            font-size: 20px;
            color: gray;
            text-align: center;
        }

        .enterBar {
            width: 350px;
            height: 56px;
            border-radius: 10px;
            border: 1px solid #dfe1e5;
            margin: 10px auto;
            font-size: 20px;
            padding-left: 10px;
            font-family: Helvetica;
        }

        #orAccount {
            margin: 1px auto;
            font-size: 20px;
            text-align: center;
            color: #656565;
        }

        .memberAction {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            margin-top: 15px;
        }

        .memberLink a {
            color: white;
            font-size: 20px;
        }

        .memberLink a:hover {
            color: black;
        }


        .memberBtn {
            width: 80px;
            height: 48px;
            font-size: 20px;
            border: none;
            border-radius: 10px;
            background-color: white;
            font-family: Helvetica;
            cursor: pointer;
            color: #656565;
        }

        .memberBtn:hover {
            color: black;
        }

        .notice {
            color: #965454;
            text-align: center;
            font-size: 25px;
        }

        #googleBtn {
            width: 500px;
            height: 500px;
        }
    </style>
    <div id="signinBox" class="memberBox">
        <div class="memberLittleBox">
            <div class="Header">
                <a href="/">BooKÏ</a>
            </div>
            <form id="signinForm">
                <p class="memberProcess">Sign in</p>
                <input type="text" id="signinAcc" class="enterBar" placeholder="test@gmail.com"><br>
                <input type="password" id="signinPwd" class="enterBar" placeholder="test"><br>
                <p id="orAccount">or</p><br>
                <div id="my-signin2"></div>
                <div class="memberAction">
                    <p class="memberLink"><a id="changeCreate" href="#">Create account</a></p>
                    <button id="signinBtn" class="memberBtn" onclick="signinProcess(event)">Sign in</button>
                </div>
            </form>

            <div id="signinNotice" class="notice"></div>
            <div id="signinNotice2" class="notice"></div>
        </div>
    </div>
    <div id="registerBox" class="memberBox" style="display: none">
        <div id="reBox" class="memberLittleBox">
            <div class="Header">
                <a href="/">BooKÏ</a>
            </div>
            <form id="registerForm">
                <p class="memberProcess">Create your account</p>
                <input type="text" id="registerName" class="enterBar" placeholder="Enter your name"><br>
                <input type="text" id="registerAcc" class="enterBar" placeholder="Enter your email"><br>
                <input type="password" id="registerPwd" class="enterBar" placeholder="Enter your password"><br>
                <div class="memberAction">
                    <p class="memberLink"><a id="changeSign" href="#">Sign in instead</a></p>
                    <button id="registerBtn" class="memberBtn" onclick="registerProcess(event)">Create</button>
                </div>
            </form>

            <div id="registerNotice" class="notice"></div>
            <div id="registerNotice2" class="notice"></div>
        </div>
    </div>


    <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
    
    <script>
        async function onSignIn(googleUser) {
            var profile = googleUser.getBasicProfile();

            db = {
                gName: profile.getName(),
                gEmail: profile.getEmail()
            }

            await fetch("/api/google", {
                method: "POST",
                headers: {
                    "content-type": "application/json"
                },
                body: JSON.stringify(db)
            }).then(response => {
                return response.json()
            }).then(data => {
                alert("Welcome back " + data.gname + ", Happy Reading!")
                location.href = document.referrer
            })
        }


        function renderButton() {
            gapi.signin2.render('my-signin2', {
                'scope': 'profile email',
                'width': 360,
                'height': 56,
                'longtitle': true,
                'theme': 'white',
                'onsuccess': onSignIn
            });
        }
    </script>

    <script>

        checkProcess()

        document.getElementById("changeCreate").addEventListener("click", function () {
            document.getElementById("signinBox").style.display = "none"
            document.getElementById("registerBox").style.display = "block"
            document.getElementById("registerName").value = ""
            document.getElementById("registerAcc").value = ""
            document.getElementById("registerPwd").value = ""
            document.getElementById("registerNotice").innerHTML = ""
            document.getElementById("registerNotice2").innerHTML = ""
            document.getElementById("registerName").style.border = "1px solid #dfe1e5"
            document.getElementById("registerAcc").style.border = "1px solid #dfe1e5"
            document.getElementById("registerPwd").style.border = "1px solid #dfe1e5"
        })

        document.getElementById("changeSign").addEventListener("click", function () {
            document.getElementById("signinBox").style.display = "block"
            document.getElementById("registerBox").style.display = "none"
            document.getElementById("signinAcc").value = ""
            document.getElementById("signinPwd").value = ""
            document.getElementById("signinNotice").innerHTML = ""
            document.getElementById("signinNotice2").innerHTML = ""
            document.getElementById("signinAcc").style.border = "1px solid #dfe1e5"
            document.getElementById("signinPwd").style.border = "1px solid #dfe1e5"
        })


        async function signinProcess(e) {

            e.preventDefault()

            let signinEmail = document.getElementById("signinAcc")
            let signinPassword = document.getElementById("signinPwd")
            emailRule = /^\w+((-\w+)|(\.\w+))*\@[A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z]+$/

            if (signinEmail.value == "" & signinPassword.value == "") {
                document.getElementById("signinNotice").innerHTML = "Enter the email & password"
                document.getElementById("signinNotice2").innerHTML = ""
                signinEmail.style.border = "2px solid red"
                signinPassword.style.border = "2px solid red"
                return
            } else if (signinEmail.value == "") {
                document.getElementById("signinNotice").innerHTML = "Enter the email"
                document.getElementById("signinNotice2").innerHTML = ""
                signinEmail.style.border = "2px solid red"
                signinPassword.style.border = "1px solid #dfe1e5"
                return
            } else if (signinPassword.value == "") {
                document.getElementById("signinNotice").innerHTML = "Enter the password"
                signinPassword.style.border = "2px solid red"
                if (emailRule.test(signinEmail.value) == false) {
                    document.getElementById("signinNotice2").innerHTML = "Email format is not correct"
                    signinEmail.style.border = "2px solid red"
                    return
                } else {
                    signinEmail.style.border = "1px solid #dfe1e5"
                    document.getElementById("signinNotice2").innerHTML = ""
                    return
                }
            } else if (signinEmail.value != null & signinPassword.value != null) {
                signinPassword.style.border = "1px solid #dfe1e5"
                document.getElementById("signinNotice").innerHTML = ""
                if (emailRule.test(signinEmail.value) == false) {
                    document.getElementById("signinNotice2").innerHTML = "Email format is not correct"
                    signinEmail.style.border = "2px solid red"
                    return
                } else {
                    signinEmail.style.border = "1px solid #dfe1e5"
                    document.getElementById("signinNotice2").innerHTML = ""
                }
            }

            await fetch("/api/user", {
                method: "PATCH",
                headers: {
                    "content-type": "application/json"
                },
                body: JSON.stringify({
                    email: document.getElementById("signinAcc").value,
                    password: document.getElementById("signinPwd").value,
                })
            })

                .then(response => {
                    return response.json()
                })
                .then(data => {
                    console.log(data)
                    if (data.error == true) {
                        document.getElementById("signinNotice").innerHTML = data.message
                    } else {
                        alert("Welcome back " + data.data.name + ", Happy Reading!")
                        location.href = document.referrer
                    }
                })

                .catch(function (error) {
                    document.getElementById("signinNotice").innerHTML = "Invalid Server";
                });
        }


        async function registerProcess(e) {
            e.preventDefault()

            let registerName = document.getElementById("registerName")
            let registerEmail = document.getElementById("registerAcc")
            let registerPassword = document.getElementById("registerPwd")
            emailRule = /^\w+((-\w+)|(\.\w+))*\@[A-Za-z0-9]+((\.|-)[A-Za-z0-9]+)*\.[A-Za-z]+$/

            if (registerName.value == "" & registerEmail.value == "" & registerPassword.value == "") {
                document.getElementById("registerNotice").innerHTML = "Please fill in the blanks"
                document.getElementById("registerNotice2").innerHTML = ""
                registerName.style.border = "2px solid red"
                registerEmail.style.border = "2px solid red"
                registerPassword.style.border = "2px solid red"
                return
            } else if (registerName.value == "" & registerEmail.value == "" & registerPassword.value != "") {
                document.getElementById("registerNotice").innerHTML = "Enter your name & email"
                document.getElementById("registerNotice2").innerHTML = ""
                registerName.style.border = "2px solid red"
                registerEmail.style.border = "2px solid red"
                registerPassword.style.border = "1px solid #dfe1e5"
                return
            } else if (registerName.value == "" & registerEmail.value != "" & registerPassword.value == "") {
                document.getElementById("registerNotice").innerHTML = "Enter your name & password"
                registerName.style.border = "2px solid red"
                registerPassword.style.border = "2px solid red"
                if (emailRule.test(registerEmail.value) == false) {
                    document.getElementById("registerNotice2").innerHTML = "Email format is not correct"
                    registerEmail.style.border = "2px solid red"
                    return
                } else {
                    document.getElementById("registerNotice2").innerHTML = ""
                    registerEmail.style.border = "1px solid #dfe1e5"
                    return
                }
            } else if (registerName.value == "" & registerEmail.value != "" & registerPassword.value != "") {
                document.getElementById("registerNotice").innerHTML = "Enter your name"
                registerName.style.border = "2px solid red"
                registerPassword.style.border = "1px solid #dfe1e5"
                if (emailRule.test(registerEmail.value) == false) {
                    document.getElementById("registerNotice2").innerHTML = "Email format is not correct"
                    registerEmail.style.border = "2px solid red"
                    return
                } else {
                    document.getElementById("registerNotice2").innerHTML = ""
                    registerEmail.style.border = "1px solid #dfe1e5"
                    return
                }
            } else if (registerName.value != "" & registerEmail.value == "" & registerPassword.value == "") {
                document.getElementById("registerNotice").innerHTML = "Enter your email & password"
                document.getElementById("registerNotice2").innerHTML = ""
                registerName.style.border = "1px solid #dfe1e5"
                registerEmail.style.border = "2px solid red"
                registerPassword.style.border = "2px solid red"
                return
            } else if (registerName.value != "" & registerEmail.value == "" & registerPassword.value != "") {
                document.getElementById("registerNotice").innerHTML = "Enter your email"
                document.getElementById("registerNotice2").innerHTML = ""
                registerName.style.border = "1px solid #dfe1e5"
                registerEmail.style.border = "2px solid red"
                registerPassword.style.border = "1px solid #dfe1e5"
                return
            } else if (registerName.value != "" & registerEmail.value != "" & registerPassword.value == "") {
                document.getElementById("registerNotice").innerHTML = "Enter your password"
                registerName.style.border = "1px solid #dfe1e5"
                registerPassword.style.border = "2px solid red"
                if (emailRule.test(registerEmail.value) == false) {
                    document.getElementById("registerNotice2").innerHTML = "Email format is not correct"
                    registerEmail.style.border = "2px solid red"
                    return
                } else {
                    document.getElementById("registerNotice2").innerHTML = ""
                    registerEmail.style.border = "1px solid #dfe1e5"
                    return
                }
            } else if (registerName.value != "" & registerEmail.value != "" & registerPassword.value != "") {
                document.getElementById("registerNotice").innerHTML = ""
                registerName.style.border = "1px solid #dfe1e5"
                registerPassword.style.border = "1px solid #dfe1e5"
                if (emailRule.test(registerEmail.value) == false) {
                    document.getElementById("registerNotice2").innerHTML = "Email format is not correct"
                    registerEmail.style.border = "2px solid red"
                    return
                } else {
                    document.getElementById("registerNotice2").innerHTML = ""
                    registerEmail.style.border = "1px solid #dfe1e5"
                }
            }


            await fetch("/api/user", {
                method: "POST",
                headers: {
                    "content-type": "application/json",
                    "Authorization": "Bearer JWT_token"
                },
                body: JSON.stringify({
                    name: document.getElementById("registerName").value,
                    email: document.getElementById("registerAcc").value,
                    password: document.getElementById("registerPwd").value,
                }),
            })
                .then(response => {
                    return response.json()
                })
                .then(data => {
                    if (data.error == true) {
                        document.getElementById("registerNotice").innerHTML = data.message
                    } else {
                        document.getElementById("registerNotice").innerHTML = data.message
                    }
                })
                .catch(function (error) {
                    document.getElementById("registerNotice").innerHTML = "Invalid Server";
                });

        }

        async function checkProcess() {
            await fetch("/api/user", { method: "GET" })

                .then(response => {
                    return response.json()
                })
                .then(res => {
                    if (res.data == true) {
                        location.replace("/")
                    } else {
                        console.log("sign in or register")
                    }
                })
        }

    </script>
</body>

</html>