<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
    <meta name="google-signin-client_id"
        content="807588094774-v7tcl63kqsj96r64gaqhtu8gsn81ffnt.apps.googleusercontent.com">
    <title>BooKÏ</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/base.css')}}">
</head>

<body>

    <style>
        body {
            background-color: #f0ebe5
        }

        #pageCover {
            position: relative;
            width: 100%;
            height: 580px;
            background-image: url("/eventCover.png");
            background-attachment: fixed;
            background-size: cover;
            margin-top: 150px;
        }

        #createEvents {
            position: absolute;
            left: 200px;
            background: white;
            opacity: 0.7;
            width: 380px;
            height: 380px;
        }

        #createSlogan {
            position: absolute;
            color: black;
            z-index: 2;
            left: 220px;
            padding: 40px 20px;
            line-height: 1.5;
            width: 300px;
            height: 200px;
            font-size: 32px;
            font-weight: bold;
        }

        #eArrow {
            color: black;
            font-size: 32px;
            width: 40px;
            position: absolute;
            left: 530px;
            bottom: 220px;
        }

        #createBtn {
            height: 160px;
            position: absolute;
            left: 580px;
            border: none;
            bottom: 100px;
            width: 160px;
            color: black;
            font-size: 20px;
            font-weight: bold;
            cursor: pointer
        }

        #events {
            margin: auto;
            display: flex;
            flex-direction: row;
        }


        #ownEvents {
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            width: 1400px;
            justify-content: center;
            margin: 20px auto;
        }

        .sBox {
            width: 650px;
            margin-top: 80px;
        }

        #hashSec {
            display: flex;
            flex-direction: column;
            margin-top: 20px;
        }

        .hashtag {
            width: 200px;
            height: 30px;
            border: 1px solid gray;
            border-radius: 8px;
            padding: 10px;
            margin: 10px;
            outline: none;
        }

        .indiHashtag {
            display: flex;
            flex-direction: row;
            justify-content: center;
        }

        #add {
            width: 80px;
            height: 30px;
            background-color: #f05537;
            border: none;
            border-radius: 8px;
            color: white;
            margin-left: 10px;
            font-size: 20px;
            font-family: Helvetica;
            cursor: pointer;
            opacity: 0.8;
        }

        #add:hover {
            opacity: 1;
        }

        .deleteHash {
            padding-top: 25px;
            cursor: pointer;
        }
    </style>
    <div class="searchEngine">
        <div class="Header">
            <a href="/">BooKÏ</a>
        </div>

        <div class="nav">
            <div class="menu"><a id="eventPage" href="/events">Events</a></div>
            <div class="menu signinIcon" id="signinIcon" style="display: none"><a id="signinProcess"
                    class="signinProcess" href="/accounts">Sign in</a></div>
            <div class="menu memIcon" id="memIcon" style="display: none">
                <i class="fas fa-user-astronaut"></i>
            </div>
        </div>

        <div id="memToggle" class="memToggle" style="display: none">
            <a href="/mycollection">
                <div class="myEvent">My Collection</div>
            </a>
            <div id="signoutProcess" class="signoutProcess">Sign Out</div>
        </div>
    </div>

    <div id="pageCover">
        <div id="createEvents"></div>
        <div id="createSlogan">To Create The Best Online Events Without Leaving Home</div>
        <div id="eArrow"><i class="fas fa-arrow-right"></i></div>
        <button id="createBtn">Create Now</button>
    </div>

    <div id="events">
        <div id="ownEvents" class="eventBox">
        </div>
        <div id="outerEvents" class="eventBox" style="display: none">
            outer
        </div>
        <div id="fairs" class="eventBox" style="display: none">
            fairs
        </div>
    </div>

    <label><a id="bgBtn" href="javascript:void(0)">
            <div id="bg" class="bg"></div>
        </a></label>

    <div id="createpopup" class="createpopup" style="display: none;">
        <div id="cBox" class="cBox" style="display: none;">
            <div id="eInfo1">
                <div class="createInfoBox">
                    <div class="cTitle">Event Title:</div>
                    <input type="text" id="eventName" class="eventinput" placeholder="BooKÏ Top 10 club">
                </div>
                <div class="createInfoBox">
                    <div class="cTitle">Start time:</div>
                    <input type="date" id="sDate" class="eventDT"><input type="time" id="sTime" class="eventDT">
                </div>
                <div class="createInfoBox">
                    <div class="cTitle">Event Link:</div>
                    <input type="text" id="virtual" class="eventinput" placeholder="http://">
                </div>
                <div class="launchSec">
                    <button id="nextBtn" class="nextBtn">Next</button>
                </div>
            </div>

            <div id="eInfo2" style="display: none">
                <div class="photoTogether">
                    <label for="eventImg" class="custom-file-upload">
                        <i class="fa fa-cloud-upload"></i> Upload
                    </label>
                    <input type="file" name="photo" id="eventImg" onchange="showImg(this)">
                    <img id="showimg" class="showimg" src="" style="display:none;" />
                </div>

                <div class="cTitle">Event Description:</div>
                <div contenteditable="true" id="eventDes" class="eventDes" data-placeholder="Event description"></div>
                <div class="launchSec">
                    <button id="previousBtn" class="previousBtn" style="display: none">Previous</button>
                    <button id="nextBtn2" class="nextBtn" style="display: none">Next</button>

                </div>
            </div>

            <div id="eInfo3" style="display: none">
                <div class="cTitle">#Hashtag (optional)<button id="add">add</button></div>
                <div id="hashSec">
                    <div class="indiHashtag" data-tagid="1">
                        <div contenteditable="true" class="hashtag"></div>
                        <i data-deid="1" class="fas fa-minus-circle deleteHash"></i>
                    </div>
                </div>
                <div class="launchSec">
                    <button id="previousBtn2" class="previousBtn" style="display: none">Previous</button>
                    <button id="launchBtn" class="launchBtn" onclick="launchEvent(event)"
                        style="display: none">Send</button>
                </div>
            </div>
        </div>


        <div id="sBox" class="sBox" style="display: none">
            <i class="fas fa-user-cog"></i><br>
            <div id="createAnEvent" style="display: none">Sign in with your BooKÏ Account to create an event</div>
            <div id="collectAnEvent" style="display: none">Sign in with your BooKÏ Account to collect an event</div>
            <button id="cancelBtn" class="cancelBtn">cancel</button><button id="gosigninBtn" class="gosigninBtn"
                onclick="goSignin()">Sign in</button>
        </div>
    </div>


    <script src="https://kit.fontawesome.com/cbebce4b6d.js" crossorigin="anonymous"></script>
    <script src="{{url_for('static',filename='js/base.js')}}"></script>

    <script>
        //MAIN SCRIPT

        showEvents()


        let createBtn = document.getElementById("createBtn")
        let bg = document.getElementById("bg")
        let bgBtn = document.getElementById("bgBtn")
        let nextBtn = document.getElementById("nextBtn")
        let nextBtn2 = document.getElementById("nextBtn2")
        let eInfo1 = document.getElementById("eInfo1")
        let eInfo2 = document.getElementById("eInfo2")
        let eInfo3 = document.getElementById("eInfo3")
        let previousBtn = document.getElementById("previousBtn")
        let previousBtn2 = document.getElementById("previousBtn2")
        let launchBtn = document.getElementById("launchBtn")
        let eventName = document.getElementById("eventName")
        let sDate = document.getElementById("sDate")
        let sTime = document.getElementById("sTime")
        let virtual = document.getElementById("virtual")
        let createpopup = document.getElementById("createpopup")
        let cBox = document.getElementById("cBox")
        let sBox = document.getElementById("sBox")
        let cancelBtn = document.getElementById("cancelBtn")
        let createAnEvent = document.getElementById("createAnEvent")
        let collectAnEvent = document.getElementById("collectAnEvent")
        let collectEventId;

        var today = new Date().toISOString().split('T')[0];
        sDate.setAttribute('min', today);

        bgBtn.addEventListener("click", function () {
            bg.style.display = "none";
            document.getElementById("createpopup").style.display = "none"
            cBox.style.display = "none"
            eInfo1.style.display = "block"
            eInfo2.style.display = "none"
            eInfo3.style.display = "none"
            previousBtn.style.display = "none"
            previousBtn2.style.display = "none"
            nextBtn.style.display = "block"
            nextBtn2.style.display = "none"
            launchBtn.style.display = "none"
            sBox.style.display = "none"
            return false;
        })

        createBtn.addEventListener("click", function () {
            if (document.getElementById("signinIcon").style.display == "block") {
                createpopup.style.display = "block"
                createpopup.style.backgroundColor = "#D3D3D3"
                cBox.style.display = "none"
                sBox.style.display = "block"
                createAnEvent.style.display = "block"
                collectAnEvent.style.display = "none"
                bg.style.display = "block"
            } else {
                bg.style.display = "block";
                createpopup.style.display = "block"
                createpopup.style.backgroundColor = "white"
                cBox.style.display = "block"
                sBox.style.display = "none"
                createAnEvent.style.display = "none"
                collectAnEvent.style.display = "none"
            }

        })

        nextBtn.addEventListener("click", function () {
            eInfo1.style.display = "none"
            eInfo2.style.display = "block"
            eInfo3.style.display = "none"
            previousBtn.style.display = "block"
            previousBtn2.style.display = "none"
            nextBtn.style.display = "none"
            nextBtn2.style.display = "block"
            launchBtn.style.display = "none"
        })

        nextBtn2.addEventListener("click", function () {
            eInfo1.style.display = "none"
            eInfo2.style.display = "none"
            eInfo3.style.display = "block"
            previousBtn.style.display = "none"
            previousBtn2.style.display = "block"
            nextBtn.style.display = "none"
            nextBtn2.style.display = "none"
            launchBtn.style.display = "block"
        })

        previousBtn.addEventListener("click", function () {
            eInfo1.style.display = "block"
            eInfo2.style.display = "none"
            eInfo3.style.display = "none"
            previousBtn.style.display = "none"
            previousBtn2.style.display = "none"
            nextBtn.style.display = "block"
            nextBtn2.style.display = "none"
            launchBtn.style.display = "none"
        })

        previousBtn2.addEventListener("click", function () {
            eInfo1.style.display = "none"
            eInfo2.style.display = "block"
            eInfo3.style.display = "none"
            previousBtn.style.display = "block"
            previousBtn2.style.display = "none"
            nextBtn.style.display = "none"
            nextBtn2.style.display = "block"
            launchBtn.style.display = "none"
        })

        cancelBtn.addEventListener("click", function () {
            bg.style.display = "none";
            createpopup.style.display = "none";
            sBox.style.display = "none"
        })

        let tagidNum=1;
        document.getElementById("add").addEventListener("click", () => {
            let hashSec = document.getElementById("hashSec")
            let deleteTogether = document.createElement("div")
            let tagInput = document.createElement("div")
            let delete_tag = document.createElement("i")
            deleteTogether.classList.add("indiHashtag")

            tagidNum += 1
            deleteTogether.setAttribute("data-tagid", `${tagidNum}`)
            tagInput.setAttribute("contenteditable", "true")
            
            tagInput.classList.add("hashtag")
            delete_tag.classList.add("fas")
            delete_tag.classList.add("fa-minus-circle")
            delete_tag.classList.add("deleteHash")
            delete_tag.setAttribute("data-deid", `${tagidNum}`)
            deleteTogether.appendChild(tagInput)
            deleteTogether.appendChild(delete_tag)
            hashSec.appendChild(deleteTogether)

        })


        document.getElementById("hashSec").addEventListener("click", (e) => {
            let deleteTarget = e.target
            let demo = document.querySelectorAll(".indiHashtag")
            demo.forEach((e) => {
                if (e.getAttribute("data-tagid") == deleteTarget.getAttribute("data-deid")) {
                    e.remove()
                }
            })
        })



        function showImg(thisimg) {
            var file = thisimg.files[0];
            if (window.FileReader) {
                var fr = new FileReader();

                var showimg = document.getElementById('showimg');
                fr.onloadend = function (e) {
                    showimg.src = e.target.result;
                };
                fr.readAsDataURL(file);
                showimg.style.display = 'block';
            }
        }

        function goSignin() {
            window.location.replace("/accounts")
        }

        async function launchEvent() {

            let selectedFile = document.getElementById('eventImg').files[0];
            let s;

            if (selectedFile == null || sDate.value == null || sTime.value == null || eventName.value == null || virtual.value == null) {
                alert("Please fill the blanks")
                return
            } else {

                let date1 = new Date(sDate.value)
                let sday = date1.getDay()
                if (sday === 0) {
                    sday = "Sun"
                } else if (sday === 1) {
                    sday = "Mon"
                } else if (sday === 2) {
                    sday = "Tue"
                } else if (sday === 3) {
                    sday = "Wed"
                } else if (sday === 4) {
                    sday = "Thur"
                } else if (sday === 5) {
                    sday = "Fri"
                } else {
                    sday = "Sat"
                }

                let smonth;
                date1.getMonth() + 1 < 10 ? smonth = date1.getMonth() + 1 : smonth = date1.getMonth()

                if (smonth === 1) {
                    smonth = "Jan"
                } else if (smonth === 2) {
                    smonth = "Feb"
                } else if (smonth === 3) {
                    smonth = "Mar"
                } else if (smonth === 4) {
                    smonth = "Apr"
                } else if (smonth === 5) {
                    smonth = "May"
                } else if (smonth === 6) {
                    smonth = "Jun"
                } else if (smonth === 7) {
                    smonth = "Jul"
                } else if (smonth === 8) {
                    smonth = "Aug"
                } else if (smonth === 9) {
                    smonth = "Sep"
                } else if (smonth === 10) {
                    smonth = "Oct"
                } else if (smonth === 11) {
                    smonth = "Nov"
                } else {
                    smonth = "Dec"
                }

                let sdate = date1.getDate()
                let syear = date1.getFullYear()

                s = [sday, sdate, smonth, syear]
            }

            let hashtags = document.querySelectorAll(".hashtag")
            let hashArr = []
            hashtags.forEach((e) => {
                hashArr.push(e.innerHTML)
            })

            let formData = new FormData()
            formData.append('eTitle', eventName.value)
            formData.append('sDate', s)
            formData.append('sTime', sTime.value)
            formData.append('online', virtual.value)
            formData.append('selectFile', selectedFile);
            formData.append('description', eventDes.innerHTML)
            formData.append('hashtagsArr', hashArr)

            await fetch("/api/bookievents", {
                method: "POST",
                body: formData,
            }).then(response => {
                return response.json()
            }).then(re => {
                console.log("success")
                location.reload()
            })
        }

        async function showEvents() {
            await fetch("/api/bookievents", { method: "GET" })
                .then(response => {
                    return response.json()
                }).then(data => {
                    eventsAll = data.allEvents

                    for (let i = 0; i < eventsAll.length; i++) {
                        let ownEvents = document.getElementById("ownEvents")
                        let indiEvent = document.createElement("div")
                        let img_tag = document.createElement("div")
                        let indiInfo = document.createElement("div")
                        let indiTitle = document.createElement("div")
                        let indiTime = document.createElement("div")
                        let a_tag = document.createElement("a")
                        let indiOrg = document.createElement("div")
                        let indiPeo_tag = document.createElement("div")
                        let eventCollect_tag = document.createElement("i")
                        let decor_tag = document.createElement("div")


                        indiEvent.classList.add("indiEvent")
                        img_tag.classList.add("indiCover")
                        indiInfo.classList.add("indiInfo")
                        indiTitle.classList.add("indiTitle")
                        indiTime.classList.add("indiTime")
                        a_tag.classList.add("indiLink")
                        indiOrg.classList.add("indiOrg")
                        indiPeo_tag.classList.add("indiPeo")
                        eventCollect_tag.setAttribute("data-id", eventsAll[i].aId)
                        eventCollect_tag.classList.add("eventCollect")
                        eventCollect_tag.classList.add("fab")
                        eventCollect_tag.classList.add("fa-gratipay")
                        decor_tag.classList.add("decor")

                        indiTitle.innerHTML = eventsAll[i].aTitle
                        indiOrg.innerHTML = "by " + eventsAll[i].aUser.toUpperCase()
                        img_tag.style.backgroundImage = `url(${eventsAll[i].aCover})`
                        indiTime.innerHTML = eventsAll[i].asDay + ", " + eventsAll[i].asDate + ", " + eventsAll[i].asMonth + ", " + eventsAll[i].asYear + ", " + eventsAll[i].asTime
                        indiPeo_tag.innerHTML = eventsAll[i].aPeople + " participants"
                        a_tag.href = `/e/${eventsAll[i].aTitle}`
                        decor_tag.innerHTML = "Registered"
                        decor_tag.style.display = "none"

                        indiInfo.appendChild(indiTitle)
                        indiInfo.appendChild(indiOrg)
                        indiInfo.appendChild(indiTime)
                        indiInfo.appendChild(indiPeo_tag)
                        a_tag.appendChild(img_tag)
                        a_tag.appendChild(indiInfo)
                        a_tag.appendChild(decor_tag)
                        indiEvent.appendChild(a_tag)
                        indiEvent.appendChild(eventCollect_tag)
                        ownEvents.appendChild(indiEvent)
                    }

                    ownEvents.addEventListener("click", function (e) {
                        let targetID = e.target
                        if (targetID.getAttribute('data-id')) {
                            if (document.getElementById("signinIcon").style.display == "block") {
                                createpopup.style.display = "block"
                                createpopup.style.backgroundColor = "#D3D3D3"
                                cBox.style.display = "none"
                                sBox.style.display = "block"
                                createAnEvent.style.display = "none"
                                collectAnEvent.style.display = "block"
                                bg.style.display = "block"
                            } else {
                                createpopup.style.display = "none"
                                createpopup.style.backgroundColor = "white"
                                cBox.style.display = "none"
                                sBox.style.display = "none"
                                createAnEvent.style.display = "none"
                                collectAnEvent.style.display = "none"
                                bg.style.display = "none"

                                collectEventId = targetID.getAttribute('data-id')
                                collectEvent()
                            }
                        } else {
                            console.log("no ID")
                        }
                    })

                    async function getCollectionE() {
                        if (document.getElementById("signinIcon").style.display == "block") {
                            return
                        } else {
                            await fetch("/api/eventfav", { method: "GET" })
                                .then(response => {
                                    return response.json()
                                }).then(data => {
                                    let getFav = data.favCollection
                                    let turnRed = document.querySelectorAll("[data-id]")
                                    turnRed.forEach((e) => {
                                        for (let i = 0; i < getFav.length; i++)
                                            if (e.getAttribute('data-id') == getFav[i].getCollect) {
                                                e.style.color = "red"
                                            }
                                    })

                                })
                        }
                    }
                    getCollectionE()

                    async function getRegistered() {
                        if (document.getElementById("signinIcon").style.display == "block") {
                            return
                        } else {
                            await fetch("/api/getAllRegistered", { method: "GET" })
                                .then(response => {
                                    return response.json()
                                }).then(data => {
                                    let titleData = data.registeredTitle
                                    let registeredTitle = document.querySelectorAll(".indiEvent")
                                    registeredTitle.forEach((e) => {
                                        for (let n = 0; n < titleData.length; n++) {
                                            if (e.getElementsByClassName("indiTitle")[0].innerHTML == titleData[n]) {
                                                e.getElementsByClassName("decor")[0].style.display = "block"
                                            }
                                        }
                                    })
                                })
                        }
                    }
                    getRegistered()
                })
        }

        async function collectEvent() {
            await fetch("/api/eventfav", {
                method: "POST",
                headers: {
                    "content-type": "application/json"
                },
                body: JSON.stringify({
                    eventId: collectEventId
                })
            }).then(response => {
                return response.json()
            }).then(re => {
                if (re.ok == true) {
                    let turnGray = document.querySelectorAll("[data-id]")
                    turnGray.forEach((e) => {
                        if (e.getAttribute('data-id') == collectEventId) {
                            e.style.color = "gray"
                        }
                    })
                } else if (re.error == true) {
                    alert(re.message)
                } else {
                    let turn = document.querySelectorAll("[data-id]")
                    turn.forEach((e) => {
                        if (e.getAttribute('data-id') == collectEventId) {
                            e.style.color = "red"
                        }
                    })
                }
            })
        }






    </script>

    <script>
        //MEMBER SYSTEM

        checkProcess()

        let memIcon = document.getElementById("memIcon")
        let memToggle = document.getElementById("memToggle")

        async function checkProcess() {
            await fetch("/api/user", { method: "GET" })
                .then(response => {
                    return response.json()
                }).then(res => {
                    if (res.data == true) {
                        signinIcon.style.display = "none"
                        memIcon.style.display = "block"
                    } else {
                        signinIcon.style.display = "block"
                        memIcon.style.display = "none"
                    }
                })
        }

        memIcon.addEventListener("mousemove", () => {
            memToggle.style.display = "block"
        })

        // memIcon.addEventListener("mouseout", () => {
        //     memToggle.style.display = "none"
        // })

        memToggle.addEventListener("mouseout", () => {
            memToggle.style.display = "none"
        })

        memToggle.addEventListener("mouseover", () => {
            memToggle.style.display = "block"
        })


        document.getElementById("signoutProcess").addEventListener("click", function () {
            logoutProcess()
            signOut()
        })


        function onLoad() {
            gapi.load('auth2', function () {
                gapi.auth2.init();
            });
        }

        async function logoutProcess() {
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function () {
                console.log('User signed out.');
            });
            await fetch("/api/user", {
                method: "DELETE",
                headers: {
                    "content-type": "application/json"
                },
            }).then(response => {
                return response.json()
            }).then(result => {
                if (result.ok == true) {
                    location.reload()
                }
            })
        }
    </script>
</body>

</html>