<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
    <meta name="google-signin-client_id"
        content="807588094774-v7tcl63kqsj96r64gaqhtu8gsn81ffnt.apps.googleusercontent.com">
    <title>BooKÏ</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/base.css')}}">
</head>

<body>
    <style>
        #which {
            position: relative;
            display: flex;
            flex-direction: row;
            padding: 30px 30px 0px 30px;
            margin-top: 150px;
            font-weight: 500;
            border-bottom: 0.5px solid gray;
        }

        .myPageTB {
            font-size: 40px;
            padding: 15px;
            margin-bottom: -3px;
            background-color: #f0ebe5;
        }

        .myPageforMyEvent {
            position: absolute;
            font-size: 40px;
            padding: 15px;
            background-color: #f0ebe5;
            height: 50px;
            bottom: -10px;
            left: 130px;
        }

        .myLikeS {
            font-size: 20px;
            height: 20px;
            padding: 15px;
            background: #f0ebe5;
            margin: 46px 20px 0px 0px;
        }

        .myPageTS {
            font-size: 20px;
            height: 20px;
            bottom: 0px;
            position: absolute;
            left: 170px;
            padding: 15px;
            background: #f0ebe5;
        }

        #allEventSec {
            padding: 20px 30px;
        }

        #likeSec,
        #myEventSec {
            margin: auto;
            width: 100%;
            max-width: 1300px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;

        }

        #allEventSec {
            background-color: #f0ebe5;
        }

        .noData {
            font-size: 28px;
            height: 200px;
            margin-top: 150px;
        }

        #findout a {
            color: #656565;
        }

        #findout a:hover {
            border-bottom: 0.5px solid gray;
            color: black;
        }

        #createE {
            color: #656565;
            cursor: pointer;
        }

        #createE:hover {
            border-bottom: 0.5px solid gray;
            color: black;
        }

        #createEvent {
            position: absolute;
            left: 350px;
            top: 65px;
            width: 100px;
            height: 50px;
            border-radius: 8px;
            border: none;
            font-size: 20px;
            background: #c5b8a5;
            color: white;
            cursor: pointer;
        }
    </style>
    <div class="searchEngine">
        <div class="Header">
            <a href="/">BooKÏ</a>
        </div>

        <div class="nav">
            <div class="menu"><a id="eventPage" href="/events">Events</a></div>
            <div class="menu signinIcon" id="signinIcon" style="display: none"><a id="signinProcess"
                    class="signinProcess" href="/accounts">Sign in</a></div>
            <div class="menu memIcon" id="memIcon" style="display: none">
                <i class="fas fa-user-astronaut"></i>
            </div>
        </div>

        <div id="memToggle" class="memToggle" style="display: none">
            <a href="/myevent">
                <div class="myEvent">My Collection</div>
            </a>
            <div id="signoutProcess" class="signoutProcess">Sign Out</div>
        </div>
    </div>

    <div id="which">
        <div id="likes" class="myPageTB">Likes</div>
        <div id="mycreation" class="myPageTS">My Event</div>
        <button id="createEvent" style="display: none">Create</button>
    </div>

    <div id="allEventSec">
        <div id="likedisplay">
            <div id="likeSec">
                <div class="noData" style="display: none">
                    <div id="findout"><a href="/events">Find Out More Events</a></div>
                </div>
            </div>
        </div>
        <div id="myEventdisplay" style="display: none">
            <div id="myEventSec">
                <div class="noData" style="display: none">
                    <div id="createE">Create Your Own Event</div>
                </div>
            </div>
        </div>

    </div>

    <label><a id="bgBtn" href="javascript:void(0)">
            <div id="bg" class="bg"></div>
        </a></label>

    <div id="createpopup" class="createpopup" style="display: none;">
        <div id="cBox" class="cBox" style="display: none;">
            <div id="eInfo1">
                <div class="createInfoBox">
                    <div class="cTitle">Event Title:</div>
                    <input type="text" id="eventName" class="eventinput" placeholder="BooKÏ Top 10 club">
                </div>
                <div class="createInfoBox">
                    <div class="cTitle">Start time:</div>
                    <input type="date" id="sDate" class="eventDT"><input type="time" id="sTime" class="eventDT">
                </div>
                <div class="createInfoBox">
                    <div class="cTitle">Event Link:</div>
                    <input type="text" id="virtual" class="eventinput" placeholder="http://">
                </div>
                <div class="launchSec">
                    <button id="nextBtn" class="nextBtn">Next</button>
                </div>
            </div>

            <div id="eInfo2" style="display: none">
                <div class="photoTogether">
                    <label for="eventImg" class="custom-file-upload">
                        <i class="fa fa-cloud-upload"></i> Upload
                    </label>
                    <input type="file" name="photo" id="eventImg" onchange="showImg(this)">
                    <img id="showimg" class="showimg" src="" style="display:none;" />
                </div>

                <div class="cTitle">Event Description:</div>
                <div contenteditable="true" id="eventDes" class="eventDes" data-placeholder="Event description"></div>
                <div class="launchSec">
                    <button id="previousBtn" class="previousBtn" style="display: none">Previous</button>
                    <button id="nextBtn2" class="nextBtn" style="display: none">Next</button>

                </div>
            </div>

            <div id="eInfo3" style="display: none">
                <div class="cTitle">#Hashtag (optional)<button id="add" class="add">add</button></div>
                <div id="hashSec" class="hashSec">
                    <div class="indiHashtag" data-tagid="1">
                        <div contenteditable="true" class="hashtag"></div>
                        <i data-deid="1" class="fas fa-minus-circle deleteHash"></i>
                    </div>
                </div>
                <div class="launchSec">
                    <button id="previousBtn2" class="previousBtn" style="display: none">Previous</button>
                    <button id="launchBtn" class="launchBtn" onclick="launchEvent(event)"
                        style="display: none">Send</button>
                </div>
            </div>
        </div>
    </div>



    <script src="https://kit.fontawesome.com/cbebce4b6d.js" crossorigin="anonymous"></script>
    <script src="{{url_for('static',filename='js/base.js')}}"></script>

    <script>
        let createE = document.getElementById("createE")
        let bg = document.getElementById("bg")
        let bgBtn = document.getElementById("bgBtn")
        let nextBtn = document.getElementById("nextBtn")
        let eInfo1 = document.getElementById("eInfo1")
        let eInfo2 = document.getElementById("eInfo2")
        let eInfo3 = document.getElementById("eInfo3")
        let previousBtn = document.getElementById("previousBtn")
        let previousBtn2 = document.getElementById("previousBtn2")
        let launchBtn = document.getElementById("launchBtn")
        let eventName = document.getElementById("eventName")
        let sDate = document.getElementById("sDate")
        let sTime = document.getElementById("sTime")
        let virtual = document.getElementById("virtual")
        let createpopup = document.getElementById("createpopup")
        let cBox = document.getElementById("cBox")
        let createEvent = document.getElementById("createEvent")

        var today = new Date().toISOString().split('T')[0];
        sDate.setAttribute('min', today);

        bgBtn.addEventListener("click", function () {
            bg.style.display = "none";
            document.getElementById("createpopup").style.display = "none"
            cBox.style.display = "none"
            eInfo1.style.display = "block"
            eInfo2.style.display = "none"
            eInfo3.style.display = "none"
            previousBtn.style.display = "none"
            previousBtn2.style.display = "none"
            nextBtn.style.display = "block"
            nextBtn2.style.display = "none"
            launchBtn.style.display = "none"
            return false;
        })

        createE.addEventListener("click", function () {
            bg.style.display = "block";
            createpopup.style.display = "block"
            createpopup.style.backgroundColor = "white"
            cBox.style.display = "block"
        })

        createEvent.addEventListener("click", function () {
            bg.style.display = "block";
            createpopup.style.display = "block"
            createpopup.style.backgroundColor = "white"
            cBox.style.display = "block"
        })

        nextBtn.addEventListener("click", function () {
            eInfo1.style.display = "none"
            eInfo2.style.display = "block"
            eInfo3.style.display = "none"
            previousBtn.style.display = "block"
            previousBtn2.style.display = "none"
            nextBtn.style.display = "none"
            nextBtn2.style.display = "block"
            launchBtn.style.display = "none"
        })

        nextBtn2.addEventListener("click", function () {
            eInfo1.style.display = "none"
            eInfo2.style.display = "none"
            eInfo3.style.display = "block"
            previousBtn.style.display = "none"
            previousBtn2.style.display = "block"
            nextBtn.style.display = "none"
            nextBtn2.style.display = "none"
            launchBtn.style.display = "block"
        })

        previousBtn.addEventListener("click", function () {
            eInfo1.style.display = "block"
            eInfo2.style.display = "none"
            eInfo3.style.display = "none"
            previousBtn.style.display = "none"
            previousBtn2.style.display = "none"
            nextBtn.style.display = "block"
            nextBtn2.style.display = "none"
            launchBtn.style.display = "none"
        })

        previousBtn2.addEventListener("click", function () {
            eInfo1.style.display = "none"
            eInfo2.style.display = "block"
            eInfo3.style.display = "none"
            previousBtn.style.display = "block"
            previousBtn2.style.display = "none"
            nextBtn.style.display = "none"
            nextBtn2.style.display = "block"
            launchBtn.style.display = "none"
        })

        document.getElementById("hashSec").addEventListener("click", (e) => {
            let deleteTarget = e.target
            let demo = document.querySelectorAll(".indiHashtag")
            demo.forEach((e) => {
                if (e.getAttribute("data-tagid") == deleteTarget.getAttribute("data-deid")) {
                    e.remove()
                }
            })
        })


        let tagidNum = 1;
        document.getElementById("add").addEventListener("click", () => {
            let hashSec = document.getElementById("hashSec")
            let deleteTogether = document.createElement("div")
            let tagInput = document.createElement("div")
            let delete_tag = document.createElement("i")
            deleteTogether.classList.add("indiHashtag")

            tagidNum += 1
            deleteTogether.setAttribute("data-tagid", `${tagidNum}`)
            tagInput.setAttribute("contenteditable", "true")

            tagInput.classList.add("hashtag")
            delete_tag.classList.add("fas")
            delete_tag.classList.add("fa-minus-circle")
            delete_tag.classList.add("deleteHash")
            delete_tag.setAttribute("data-deid", `${tagidNum}`)
            deleteTogether.appendChild(tagInput)
            deleteTogether.appendChild(delete_tag)
            hashSec.appendChild(deleteTogether)

        })

        function showImg(thisimg) {
            var file = thisimg.files[0];
            if (window.FileReader) {
                var fr = new FileReader();

                var showimg = document.getElementById('showimg');
                fr.onloadend = function (e) {
                    showimg.src = e.target.result;
                };
                fr.readAsDataURL(file);
                showimg.style.display = 'block';
            }
        }

        async function launchEvent() {

            let selectedFile = document.getElementById('eventImg').files[0];
            let s;

            if (selectedFile == null || sDate.value == null || sTime.value == null || eventName.value == null || virtual.value == null) {
                alert("Please fill the blanks")
                return
            } else {

                let date1 = new Date(sDate.value)
                let sday = date1.getDay()
                if (sday === 0) {
                    sday = "Sun"
                } else if (sday === 1) {
                    sday = "Mon"
                } else if (sday === 2) {
                    sday = "Tue"
                } else if (sday === 3) {
                    sday = "Wed"
                } else if (sday === 4) {
                    sday = "Thur"
                } else if (sday === 5) {
                    sday = "Fri"
                } else {
                    sday = "Sat"
                }

                let smonth;
                date1.getMonth() + 1 < 10 ? smonth = date1.getMonth() + 1 : smonth = date1.getMonth()

                if (smonth === 1) {
                    smonth = "Jan"
                } else if (smonth === 2) {
                    smonth = "Feb"
                } else if (smonth === 3) {
                    smonth = "Mar"
                } else if (smonth === 4) {
                    smonth = "Apr"
                } else if (smonth === 5) {
                    smonth = "May"
                } else if (smonth === 6) {
                    smonth = "Jun"
                } else if (smonth === 7) {
                    smonth = "Jul"
                } else if (smonth === 8) {
                    smonth = "Aug"
                } else if (smonth === 9) {
                    smonth = "Sep"
                } else if (smonth === 10) {
                    smonth = "Oct"
                } else if (smonth === 11) {
                    smonth = "Nov"
                } else {
                    smonth = "Dec"
                }

                let sdate = date1.getDate()
                let syear = date1.getFullYear()

                s = [sday, sdate, smonth, syear]
            }

            let hashtags = document.querySelectorAll(".hashtag")
            let hashArr = []
            hashtags.forEach((e) => {
                hashArr.push(e.innerHTML)
            })

            let formData = new FormData()
            formData.append('eTitle', eventName.value)
            formData.append('sDate', s)
            formData.append('sTime', sTime.value)
            formData.append('online', virtual.value)
            formData.append('selectFile', selectedFile);
            formData.append('description', eventDes.innerHTML)
            formData.append('hashtagsArr', hashArr)

            await fetch("/api/bookievents", {
                method: "POST",
                body: formData,
            }).then(response => {
                return response.json()
            }).then(re => {
                console.log("success")
                location.reload()
            })
        }
    </script>

    <script>
        //MEMBER EVENTS LIKES
        //MEMBER OWN EVENTS

        eventLikes()
        memOwn()

        let collectEventId;

        async function eventLikes() {
            await fetch("/api/eventfav", { method: "GET" })
                .then(response => {
                    return response.json()
                }).then(re => {
                    let favItems = re.favCollection
                    let likeSec = document.getElementById("likeSec")

                    if (favItems.length == 0) {
                        document.getElementsByClassName("noData")[0].style.display = "block"
                    } else {

                        for (let i = 0; i < favItems.length; i++) {
                            let favEvent = document.createElement("div")
                            let img_tag = document.createElement("div")
                            let favInfo = document.createElement("div")
                            let favTitle = document.createElement("div")
                            let favTime = document.createElement("div")
                            let a_tag = document.createElement("a")
                            let favOrg = document.createElement("div")
                            let favPeo_tag = document.createElement("div")
                            let fav_tag = document.createElement("i")

                            favEvent.classList.add("indiEvent")
                            img_tag.classList.add("indiCover")
                            favInfo.classList.add("indiInfo")
                            favTitle.classList.add("indiTitle")
                            favTime.classList.add("indiTime")
                            a_tag.classList.add("indiLink")
                            favOrg.classList.add("indiOrg")
                            favPeo_tag.classList.add("indiPeo")
                            fav_tag.setAttribute("data-id", favItems[i].getCollect)
                            fav_tag.classList.add("eventCollect")
                            fav_tag.classList.add("fab")
                            fav_tag.classList.add("fa-gratipay")

                            favTitle.innerHTML = favItems[i].favTitle
                            favOrg.innerHTML = "by " + favItems[i].favOrganiser.toUpperCase()
                            img_tag.style.backgroundImage = `url(${favItems[i].favCover})`
                            favTime.innerHTML = favItems[i].favDay + ", " + favItems[i].favDate + ", " + favItems[i].favMonth + ", " + favItems[i].favYear + ", " + favItems[i].favTime
                            favPeo_tag.innerHTML = favItems[i].totalPeople + " participants"
                            a_tag.href = `/e/${favItems[i].favTitle}`

                            favInfo.appendChild(favTitle)
                            favInfo.appendChild(favOrg)
                            favInfo.appendChild(favTime)
                            favInfo.appendChild(favPeo_tag)
                            a_tag.appendChild(img_tag)
                            a_tag.appendChild(favInfo)
                            favEvent.appendChild(a_tag)
                            favEvent.appendChild(fav_tag)
                            likeSec.appendChild(favEvent)

                            let turnRed = document.querySelectorAll("[data-id]")
                            turnRed.forEach((e) => {
                                if (e.getAttribute('data-id') == favItems[i].getCollect) {
                                    e.style.color = "red"
                                }
                            })
                        }

                        likeSec.addEventListener("click", function (e) {
                            let targetID = e.target
                            if (targetID.getAttribute('data-id')) {
                                collectEventId = targetID.getAttribute('data-id')
                                collectEvent()
                            } else {
                                console.log("no ID")
                            }
                        })
                    }
                })
        }

        async function collectEvent() {
            await fetch("/api/eventfav", {
                method: "POST",
                headers: {
                    "content-type": "application/json"
                },
                body: JSON.stringify({
                    eventId: collectEventId
                })
            }).then(response => {
                return response.json()
            }).then(re => {
                if (re.ok == true) {
                    let turnGray = document.querySelectorAll("[data-id]")
                    turnGray.forEach((e) => {
                        if (e.getAttribute('data-id') == collectEventId) {
                            e.style.color = "gray"
                            location.reload()
                        }
                    })
                } else if (re.error == true) {
                    alert(re.message)
                } else {
                    let turn = document.querySelectorAll("[data-id]")
                    turn.forEach((e) => {
                        if (e.getAttribute('data-id') == collectEventId) {
                            e.style.color = "red"
                            location.reload()
                        }
                    })
                }
            })
        }

        async function memOwn() {
            await fetch("/api/mycollection", { method: "GET" })
                .then(response => {
                    return response.json()
                }).then(data => {
                    let ownItems = data.myOwnEvent
                    let myEventSec = document.getElementById("myEventSec")
                    if (data.error == true) {
                        document.getElementsByClassName("noData")[1].style.display = "block"
                    } else {

                        for (let i = 0; i < ownItems.length; i++) {
                            let ownEvent = document.createElement("div")
                            let img_tag = document.createElement("div")
                            let ownInfo = document.createElement("div")
                            let ownTitle = document.createElement("div")
                            let ownTime = document.createElement("div")
                            let a_tag = document.createElement("a")
                            let ownOrg = document.createElement("div")
                            let ownPeo_tag = document.createElement("div")
                            let own_tag = document.createElement("i")

                            ownEvent.classList.add("indiEvent")
                            img_tag.classList.add("indiCover")
                            ownInfo.classList.add("indiInfo")
                            ownTitle.classList.add("indiTitle")
                            ownTime.classList.add("indiTime")
                            a_tag.classList.add("indiLink")
                            ownOrg.classList.add("indiOrg")
                            ownPeo_tag.classList.add("indiPeo")
                            own_tag.setAttribute("data-id", ownItems[i].getCollect)
                            own_tag.classList.add("eventCollect")
                            own_tag.classList.add("fab")
                            own_tag.classList.add("fa-gratipay")

                            ownTitle.innerHTML = ownItems[i].ownTitle
                            ownOrg.innerHTML = "by " + ownItems[i].ownOrganiser.toUpperCase()
                            img_tag.style.backgroundImage = `url(${ownItems[i].ownCover})`
                            ownTime.innerHTML = ownItems[i].ownDay + ", " + ownItems[i].ownDate + ", " + ownItems[i].ownMonth + ", " + ownItems[i].ownYear + ", " + ownItems[i].ownTime
                            ownPeo_tag.innerHTML = ownItems[i].totalPeople + " participants"
                            a_tag.href = `/e/${ownItems[i].ownTitle}`

                            ownInfo.appendChild(ownTitle)
                            ownInfo.appendChild(ownOrg)
                            ownInfo.appendChild(ownTime)
                            ownInfo.appendChild(ownPeo_tag)
                            a_tag.appendChild(img_tag)
                            a_tag.appendChild(ownInfo)
                            ownEvent.appendChild(a_tag)
                            ownEvent.appendChild(own_tag)
                            myEventSec.appendChild(ownEvent)
                        }

                        myEventSec.addEventListener("click", function (e) {
                            let owntargetID = e.target
                            if (owntargetID.getAttribute('data-id')) {
                                collectEventId = owntargetID.getAttribute('data-id')
                                collectEvent()
                            } else {
                                console.log("no ID")
                            }
                        })

                        async function getCollectionE() {
                            if (document.getElementById("signinIcon").style.display == "block") {
                                return
                            } else {
                                await fetch("/api/eventfav", { method: "GET" })
                                    .then(response => {
                                        return response.json()
                                    }).then(data => {
                                        let getFav = data.favCollection
                                        let ownRed = document.querySelectorAll("[data-id]")
                                        ownRed.forEach((e) => {
                                            for (let i = 0; i < getFav.length; i++)
                                                if (e.getAttribute('data-id') == getFav[i].getCollect) {
                                                    e.style.color = "red"
                                                }
                                        })

                                    })
                            }
                        }
                        getCollectionE()
                    }
                })
        }
    </script>

    <script>
        //SWITCH
        let likes = document.getElementById("likes")
        let mycreation = document.getElementById("mycreation")
        let likedisplay = document.getElementById("likedisplay")
        let myEventdisplay = document.getElementById("myEventdisplay")



        likes.addEventListener("mouseover", () => {
            mycreation.classList.add("myPageTS");
            mycreation.classList.remove("myPageTB");
            likes.classList.add("myPageTB");
            likes.classList.remove("myLikeS");
            likedisplay.style.display = "block";
            myEventdisplay.style.display = "none";
            createEvent.style.display = "none"

        })

        mycreation.addEventListener("mouseover", () => {
            mycreation.classList.remove("myPageTS");
            mycreation.classList.add(("myPageforMyEvent"));
            likes.classList.remove("myPageTB");
            likes.classList.add("myLikeS");
            likedisplay.style.display = "none";
            myEventdisplay.style.display = "block";
            createEvent.style.display = "block"

        })
    </script>

    <script>
        //MEMBER SYSTEM

        checkProcess()

        let memIcon = document.getElementById("memIcon")
        let memToggle = document.getElementById("memToggle")

        async function checkProcess() {
            await fetch("/api/user", { method: "GET" })
                .then(response => {
                    return response.json()
                }).then(res => {
                    if (res.data == true) {
                        signinIcon.style.display = "none"
                        memIcon.style.display = "block"
                    } else {
                        signinIcon.style.display = "block"
                        memIcon.style.display = "none"
                    }
                })
        }

        memIcon.addEventListener("mousemove", () => {
            memToggle.style.display = "block"
        })

        // memIcon.addEventListener("mouseout", () => {
        //     memToggle.style.display = "none"
        // })

        memToggle.addEventListener("mouseout", () => {
            memToggle.style.display = "none"
        })

        memToggle.addEventListener("mouseover", () => {
            memToggle.style.display = "block"
        })


        document.getElementById("signoutProcess").addEventListener("click", function () {
            logoutProcess()
            signOut()
        })


        function onLoad() {
            gapi.load('auth2', function () {
                gapi.auth2.init();
            });
        }

        async function logoutProcess() {
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function () {
                console.log('User signed out.');
            });
            await fetch("/api/user", {
                method: "DELETE",
                headers: {
                    "content-type": "application/json"
                },
            }).then(response => {
                return response.json()
            }).then(result => {
                if (result.ok == true) {
                    location.reload()
                }
            })
        }
    </script>
</body>