<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://apis.google.com/js/platform.js?onload=onLoad" async defer></script>
    <meta name="google-signin-client_id"
        content="807588094774-v7tcl63kqsj96r64gaqhtu8gsn81ffnt.apps.googleusercontent.com">
    <title>BooKÏ</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/base.css')}}">
</head>

<body>
    <style>
        .myPageT {
            font-size: 60px;
            padding: 30px;
            margin-top: 150px;
            font-weight: 500;
        }

        #likeSec {
            margin: auto;
            width: 1200px;
        }
    </style>
    <div class="searchEngine">
        <div class="Header">
            <a href="/">BooKÏ</a>
        </div>

        <div class="nav">
            <div class="menu"><a id="eventPage" href="/events">Events</a></div>
            <!-- <div class="menu mybookIcon" id="mybookIcon"><a id="mybookProcess" class="mybookProcess" href="#"><i
                        class="fas fa-book"></i></a></div> -->
            <div class="menu signinIcon" id="signinIcon" style="display: none"><a id="signinProcess"
                    class="signinProcess" href="/accounts">Sign in</a></div>
            <div class="menu memIcon" id="memIcon" style="display: none">
                <i class="fas fa-user-astronaut"></i>
            </div>
        </div>

        <div id="memToggle" class="memToggle" style="display: none">
            <a href="/myevent">
                <div class="myEvent">My Event</div>
            </a>
            <div id="signoutProcess" class="signoutProcess">Sign Out</div>
        </div>
    </div>

    <div class="myPageT">Likes</div>

    <div id="likeSec"></div>


    <script src="https://kit.fontawesome.com/cbebce4b6d.js" crossorigin="anonymous"></script>
    <script src="{{url_for('static',filename='js/base.js')}}"></script>

    <script>
        //MEMBER EVENTS LIKES

        eventLikes()

        async function eventLikes(){
            await fetch ("/api/eventfav")
        }
    </script>


    <script>
        //MEMBER SYSTEM

        checkProcess()

        let memIcon = document.getElementById("memIcon")
        let memToggle = document.getElementById("memToggle")

        async function checkProcess() {
            await fetch("/api/user", { method: "GET" })
                .then(response => {
                    return response.json()
                }).then(res => {
                    if (res.data == true) {
                        signinIcon.style.display = "none"
                        memIcon.style.display = "block"
                    } else {
                        signinIcon.style.display = "block"
                        memIcon.style.display = "none"
                    }
                })
        }

        memIcon.addEventListener("mousemove", () => {
            memToggle.style.display = "block"
        })

        // memIcon.addEventListener("mouseout", () => {
        //     memToggle.style.display = "none"
        // })

        memToggle.addEventListener("mouseout", () => {
            memToggle.style.display = "none"
        })

        memToggle.addEventListener("mouseover", () => {
            memToggle.style.display = "block"
        })


        document.getElementById("signoutProcess").addEventListener("click", function () {
            logoutProcess()
            signOut()
        })


        function onLoad() {
            gapi.load('auth2', function () {
                gapi.auth2.init();
            });
        }

        async function logoutProcess() {
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function () {
                console.log('User signed out.');
            });
            await fetch("/api/user", {
                method: "DELETE",
                headers: {
                    "content-type": "application/json"
                },
            }).then(response => {
                return response.json()
            }).then(result => {
                if (result.ok == true) {
                    location.reload()
                }
            })
        }
    </script>
</body>