<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BooKÏ</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/base.css')}}">
</head>

<body>
    <style>
        #bookSection {
            width: auto;
            max-width: 1200px;
            display: flex;
            flex-direction: row;
            flex-wrap: wrap;
            justify-content: center;
            margin: 150px auto 30px auto;
        }

        #book {
            width: 200px;
            height: 300px;
            text-align: center;
            margin: 10px 20px;
        }

        #bookCover {
            width: 150px;
            height: 200px;
            margin: 10px auto;
        }

        #coverSize {
            width: 150px;
            height: 200px;
            box-shadow: 10px 10px 5px grey;
        }

        #bookTitle {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: #656565;
            font-weight: 400;
        }

        #authors {
            color: gray;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        #pageCount {
            text-align: center;
            padding-top: 30px;
        }

        #pageCount a {
            color: #656565;
            font-size: 28px;
            margin: 10px;
        }

        #pageCount a:hover {
            color: black
        }
    </style>

    <div class="searchEngine">
        <div class="Header">
            <a href="/">BooKÏ</a>
        </div>

        <form class="searchSection">

            <div id="bundle" class="bundle">
                <input type="text" id="searchBar" class="searchBar" placeholder="Title or Author">
                <button class="searchBtn" onclick="searchGo(event)"><i class="fas fa-search"></i></button>
            </div>
            <div id="toggle" class="toggle" style="display: none"></div>
        </form>

        <div class="nav">
            <div class="menu"><a id="eventPage" href="/events">Events</a></div>
            <div class="menu signinIcon" id="signinIcon" style="display: none"><a id="signinProcess"
                    class="signinProcess" href="/accounts">Sign in</a></div>
            <div class="menu memIcon" id="memIcon" style="display: none">
                <i class="fas fa-user-astronaut"></i>
            </div>
        </div>

        <div id="memToggle" class="memToggle" style="display: none">
            <a href="/myevent">
                <div class="myEvent">My Collection</div>
            </a>
            <div id="signoutProcess" class="signoutProcess">Sign Out</div>
        </div>
    </div>


    <div id="bookSection"></div>

    <div id="pageCount"></div>




    <script src="https://kit.fontawesome.com/cbebce4b6d.js" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.2/jquery.min.js"></script>
    <script src="{{url_for('static',filename='js/base.js')}}"></script>
    <script>

        //MAIN SCRIPT

        let src = window.location.href;
        let queryString = src.split("=")[1];
        let keyword;
        let searchBarWord;
        let targetPage = document.getElementById("pageCount")
        let finalData;
        let totalBooks;

        allBooks(0)


        targetPage.addEventListener("click", function (e) {
            let buttonPage = e.target.innerText
            let pageCnt = buttonPage.length

            if (pageCnt <= 2) {
                bookSection.innerHTML = ""
                dataNum = buttonPage - 1
                thePageData = totalBooks[dataNum].items
                window.scroll(0, 0)
                getBooks(thePageData)
            }
        })

        async function allBooks(num) {

            // searchBarWord = queryString.replace(/%20/g, " ")
            let searchBarWord = decodeURI(queryString)
            document.getElementById("searchBar").value = searchBarWord

            await fetch(`/api/eachPage?q=${queryString}`)
                .then(response => {
                    return response.json()
                }).then(re => {
                    console.log(re)
                    totalBooks = re
                    data = totalBooks[num].items
                    totalData = totalBooks.length
                    getPages(totalData)
                    getBooks(data)
                })
        }

        function getPages(results) {
            let page_str = ""
            for (let p = 1; p < results + 1; p++) {
                var a = '<a href="javascript:;">' + p + '</a>';
                page_str += a;
                targetPage.innerHTML = page_str;
            }
        }

        function getBooks(items) {

            for (let n = 0; n <= items.length; n++) {
                let bookSection = document.getElementById("bookSection")
                let book_tag = document.createElement("div")
                let bookCover_tag = document.createElement("div")
                let bookTitle_tag = document.createElement("div")
                let authors_tag = document.createElement("div")
                let ratings_tag = document.createElement("div")
                let emptyStar_tag = document.createElement("div")
                let fullStar_tag = document.createElement("div")
                let img_tag = document.createElement("img")
                let url_tag = document.createElement("a")

                !items[n].volumeInfo.imageLinks ? img_tag.src = "http://dqgc5yp61yvd.cloudfront.net/no_cover.png" : img_tag.src = items[n].volumeInfo.imageLinks.thumbnail

                let bookTitle = document.createTextNode(items[n].volumeInfo.title)
                let authors = document.createTextNode(items[n].volumeInfo.authors)
                let emptyS = document.createTextNode("★★★★★")
                let fullS = document.createTextNode("★★★★★")
                let url_link = "/bookInfo/" + items[n].id

                book_tag.setAttribute("id", "book")
                bookCover_tag.setAttribute("id", "bookCover")
                img_tag.setAttribute("id", "coverSize")
                bookTitle_tag.setAttribute("id", "bookTitle")
                ratings_tag.classList.add("ratings")
                emptyStar_tag.classList.add("empty_star")
                fullStar_tag.classList.add("full_star")
                authors_tag.setAttribute("id", "authors")
                url_tag.setAttribute("id", "book_url")

                let ratingData = items[n].volumeInfo.averageRating

                if (ratingData != null) {
                    let filterStar = rateArr.filter(function (element, index, array) {
                        return element.ratingNum == ratingData
                    })
                    fullStar_tag.style.width = filterStar[0].ratingLen
                } else {
                    fullStar_tag.setAttribute("style", "width: 0%");
                }
                url_tag.href = url_link

                bookCover_tag.appendChild(img_tag)
                bookTitle_tag.appendChild(bookTitle)
                emptyStar_tag.appendChild(emptyS)
                fullStar_tag.appendChild(fullS)
                ratings_tag.appendChild(emptyStar_tag)
                ratings_tag.appendChild(fullStar_tag)
                authors_tag.appendChild(authors)
                url_tag.appendChild(bookCover_tag)
                url_tag.appendChild(bookTitle_tag)
                url_tag.appendChild(ratings_tag)
                url_tag.appendChild(authors_tag)
                book_tag.appendChild(url_tag)
                bookSection.appendChild(book_tag)
            }
        }

    </script>

    <script>
        // SEARCH ENGINE

        let searchBar = document.getElementById("searchBar")
        let toggle = document.getElementById("toggle")
        let bundle = document.getElementById("bundle")

        function searchGo(e) {
            e.preventDefault()
            if (searchBar.value != "") {
                searchPage()
            }
        }

        function searchPage() {
            let query;
            bookSection.innerHTML = ""
            query = searchBar.value
            window.location.href = `search?q=${query}`
        }

        document.addEventListener("click", function (e) {
            if (e.target != document.getElementsByTagName("div")[6]) {
                toggle.style.display = "none"
                bundle.style.borderRadius = "24px"
            }
        })

        toggle.addEventListener("click", function (e) {
            let targetW = e.target.innerHTML
            if ((targetW.indexOf("<") != -1) == false) {
                window.location.href = `search?q=${targetW}`
                toggle.style.display = "none"
                bundle.style.borderRadius = "24px"
            }
        })

        searchBar.oninput = function () {

            if (searchBar.value != "") {
                fetch("/api/searchEngine", {
                    method: "POST",
                    headers: {
                        "content-type": "application/json"
                    },
                    body: JSON.stringify({
                        key: searchBar.value
                    }),
                })
                    .then(reponse => {
                        return reponse.json()
                    }).then(res => {
                        let books = res.ok
                        preview(books)
                    })
            } else {
                searchBar.style.borderRadius = "24px"
            }
        }

        function preview(data) {
            // console.log(data)
            if (data != "") {
                bundle.style.borderRadius = "24px 24px 0px 0px"
                toggle.style.display = "block"
                toggle.innerHTML = ""
                let search_str = ""
                for (let i = 0; i < data.length; i++) {
                    var a = '<a href="javascript:;">' + data[i] + '</a><br>'
                    search_str += a
                    toggle.innerHTML = search_str
                }

            } else {
                toggle.style.display = "none"
                bundle.style.borderRadius = "24px"
            }
        }
    </script>

    <script>
        //MEMBER SYSTEM

        checkProcess()

        let memIcon = document.getElementById("memIcon")
        let memToggle = document.getElementById("memToggle")

        async function checkProcess() {
            await fetch("/api/user", { method: "GET" })
                .then(response => {
                    return response.json()
                }).then(res => {
                    if (res.data == true) {
                        signinIcon.style.display = "none"
                        memIcon.style.display = "block"
                    } else {
                        signinIcon.style.display = "block"
                        memIcon.style.display = "none"
                    }
                })
        }

        memIcon.addEventListener("mousemove", () => {
            memToggle.style.display = "block"
        })

        // memIcon.addEventListener("mouseout", () => {
        //     memToggle.style.display = "none"
        // })

        memToggle.addEventListener("mouseout", () => {
            memToggle.style.display = "none"
        })

        memToggle.addEventListener("mouseover", () => {
            memToggle.style.display = "block"
        })


        document.getElementById("signoutProcess").addEventListener("click", function () {
            logoutProcess()
            signOut()
        })


        function onLoad() {
            gapi.load('auth2', function () {
                gapi.auth2.init();
            });
        }

        async function logoutProcess() {
            var auth2 = gapi.auth2.getAuthInstance();
            auth2.signOut().then(function () {
                console.log('User signed out.');
            });
            await fetch("/api/user", {
                method: "DELETE",
                headers: {
                    "content-type": "application/json"
                },
            }).then(response => {
                return response.json()
            }).then(result => {
                if (result.ok == true) {
                    location.reload()
                }
            })
        }
    </script>


</body>

</html>